*{
    box-sizing: border-box;
}
body{
  
}

.nav-bar{
    background: #8ccfc1;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}
.App{
    display: flex;
    flex-wrap: wrap;
}


.item{
    width:10rem;
    height: 10rem;
    background:#0f0;
    margin:3px;
    padding:5px;
}